<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<script>
    var charMathc = new RegExp('(\\w+@[a-zA-Z_]+?\\.[a-zA-Z]{2,6})');
    function validateEmailAddress() {
        var string = document.getElementById('input_email').value;
        if (charMathc.test(string)) {
            $.ajax({
                type: 'get',
                url: '/service/checkEmail?email=' + string,
                dataType: 'text',
                success: [function (data) {
                    if (data.toString() == 'false') {
                        alert('correct email');
                    } else {
                        alert(data);
                    }
                }]
            });
        }
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form th:action="@{/login}" method="POST" class="form-signin">
                <h3 class="form-signin-heading" th:text="Welcome"></h3>
                <br/>

                <input type="text" id="email" name="username" th:placeholder="username"
                       class="form-control"/> <br/>
                <input type="password" th:placeholder="password"
                       id="password" name="password" class="form-control"/> <br/>

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                        th:text="Login"></button>
            </form>


            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Name"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{secondName}"
                               placeholder="Last Name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="input_email" oninput="validateEmailAddress()" type="text" th:field="*{mailAddress}"
                               placeholder="Email"
                               class="form-control"/>
                        <label th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"
                               class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control"/> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Register User</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>

            </form>
        </div>
    </div>
</div>

</body>
</html>